src/main/resources/xml/machine.dtd

<!ELEMENT machine (alu, registers, muxInputs*)>

<!ELEMENT alu (operation*)>
<!ELEMENT operation (#PCDATA)>

<!ELEMENT registers (register*)>
<!ELEMENT register (#PCDATA)>
<!ATTLIST register
	name CDATA #REQUIRED
	size CDATA #REQUIRED
>

<!ELEMENT muxInputs (input*)>
<!ATTLIST muxInputs
	muxType CDATA #REQUIRED
>

<!ELEMENT input (#PCDATA)>
<!ATTLIST input
	type (register|constant|null) #REQUIRED
>